.edit {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #08e3e3;
}

.edit-input {
  width: 90%;
  padding: 5px;
  border: none;
  outline: 1px solid silver;
  border-radius: 8px;
  color: grey;
}

.edit-input:focus {
  outline: 2px solid #08e3e3;
  color: black;
}

.save-edit-box {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  background: url("../../../public/confirm-icon.svg") center/25px no-repeat;
  transition: 0.3s;
}

.save-edit-box:hover {
  cursor: pointer;
  background: url("../../../public/confirm-icon-hover.svg") center/25px no-repeat;
}

.cancel-edit-box {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../public/close-icon.svg") center/25px no-repeat;
  transition: 0.3s;
}

.cancel-edit-box:hover {
  cursor: pointer;
  background: url("../../../public/close-icon_hover.svg") center/25px no-repeat;
}

@media (max-width: 650px) {
  .edit-input {
    width: 75vw;
    font-size: 20px;
  }

  .delete-todo-box {
    width: 35px;
    height: 35px;
    background: url("../../../public/delete-icon.svg") center/35px no-repeat;
  }

  .delete-todo-box:hover {
    background: url("../../../public/delete-icon-hover.svg") center/35px no-repeat;
  }
}