.todo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 4px solid #08e3e3;
}

.delete-todo-box {
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 35px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background: url("../../../public/close-icon.svg") center/25px no-repeat;
    transition: 0.3s;
}

.delete-todo-box:hover {
    cursor: pointer;
    fill: #ff0000;
    background: url("../../../public/close-icon_hover.svg") center/25px no-repeat;
}

.todo-text {
    width: 600px;
    margin-left: 10px;
}

.active-todo {
    height: 70px;
    border-radius: 10px;
    background-color: #a7eed6;
}

.todo-checkbox {
    width: 25px;
    height: 25px;
}

.todo-checkbox:hover {
    cursor: pointer;
}