.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #534e48;
}

.app-title {
  text-align: center;
}

.controls {
  display: flex;
  flex-direction: column;
  border: 2px solid aquamarine;
  border-radius: 10px;
  width: 800px;
  padding: 10px;
  box-shadow: 15px 15px 10px aquamarine;
}

.top-panel {
  display: flex;
}

.buttons-area {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.results-area {
  display: flex;
  justify-content: space-evenly;
}

.buttons-container {
  height: 100px;
  width: 95vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttons-container .active-control-button {
  pointer-events: none;
}

.total-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-number {
  border: 1px solid black;
  padding: 3px 35px;
  font-style: italic;
  font-weight: 600;
  cursor: context-menu;
}

.items-area {
  width: 650px;
  margin: 10px auto;
}

.input-area {
  display: flex;
  margin: 0 auto;
  width: 650px;
  justify-content: space-between;
}

@media (max-width: 775px) {
  .controls {
    width: 95vw;
  }

  .items-area {
    width: 95vw;
    margin: 0 auto;
  }

  .input-area {
    width: 95vw;
  }
}

@media (min-width: 650px) {
  .total-number {
    box-shadow: 4px 5px 5px 0px #607263a3;
  }
}

@media (max-width: 650px) {
  .input-area {
    flex-direction: column;
    height: 90px;
    align-items: center;
    margin-bottom: 15px;
  }

  .buttons-container .control-button,
  .clear-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }

  .total-number {
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    padding: 3px 25px;
  }
}

@media (max-width: 400px) {
  .buttons-area {
    margin: 15px 0;
  }

  .buttons-container {
    height: unset;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}